<div class="container text-center mb-5">
  <h1 class="card-title">Contract List</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6 mb-3">
      <button routerLink="/create" type="button" class="btn btn-primary btn-lg">
        Create Contract
      </button>
    </div>

    <div class="col-6">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="Tìm kiếm">
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Create Date</th>
        <th>Content</th>
        <th>Price</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let item of contracts | sortBy:'desc':'price' | filter:searchText | paginate:{totalItems: totalRecords, itemsPerPage: 3, currentPage: page}; let i = index">
        <td>{{i + 1}}</td>
        <td>{{item.code}}</td>
        <td>{{item.createDate | date: 'dd-MM-yyyy'}}</td>
        <td>{{item.content}}</td>
        <td>{{item.price}}</td>
        <td>{{item.type}}</td>
        <td>
          <button [routerLink]="['/info', item.id]" type="button" class="btn btn-info btn-lg">
            <i class="fas fa-info"></i>
          </button>
          <button [routerLink]="['/edit',item.id]" type="button" class="btn btn-warning btn-lg">
            <i class="fa-solid fa-highlighter"></i>
          </button>
          <button (click)="deleteById(item)" type="button" class="btn btn-danger btn-lg" data-toggle="modal"
                  data-target="#modelId">
            <i class="fa-solid fa-eraser"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Trang trước"
                         nextLabel="Trang sau"></pagination-controls>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Contract</h5>
      </div>
      <div class="modal-body">
        <span>Bạn có muốn xóa hợp đồng có mã {{contract.code}} không ?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="delete()" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
