<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Information Contract</h4>
      <div>
        <p>Code: {{contract.code}}</p>
      </div>
      <div>
        <p>Create Date: {{contract.createDate}}</p>
      </div>
      <div>
        <p>Content: {{contract.content}}</p>
      </div>
      <div>
        <p>Price: {{contract.price}}</p>
      </div>
      <div>
        <p>Type: {{contract.type}}</p>
      </div>
    </div>
  </div>
</div>

