<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">FURAMA RESORT DANANG</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>Tọa lạc tại trung tâm của thành phố lớn nhất miền Trung, FURAMA RESORT hận hạnh được phục vụ quý khách!</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">CHI NHÁNH</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>
            <a href="#" class="text-white text-decoration-none">Huế</a>
          </p>
          <p>
            <a href="#" class="text-white text-decoration-none">Hội An</a>
          </p>
          <p>
            <a href="#" class="text-white text-decoration-none">Quy Nhơn</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Về chúng tôi</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>
            <a href="#" class="text-white text-decoration-none">Giới thiệu Furama resort</a>
          </p>
          <p>
            <a href="#" class="text-white text-decoration-none">Chính sách thanh toán</a>
          </p>
          <p>
            <a href="#" class="text-white text-decoration-none">Câu hỏi thường gặp</a>
          </p>
          <p>
            <a href="#" class="text-white text-decoration-none">Trợ giúp</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
          <p>Email: h7821@accor.com</p>
          <p>Số điện thoại: (+84) 2363797777</p>
          <p>Fax: (+84) 2363797797</p>
        </div>
      </div>
    </div>
</footer>
