<div class="d-flex flex-row facility-row justify-content-center">
  <div class="card" style="width: 20rem">

    <img src="../../assets/facility-image/Six-Senses-Ninh-Van-Bay-min.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="../../assets/facility-image/Six-Senses-Ninh-Van-Bayc-min-2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="../../assets/facility-image/Six-Senses-Ninh-Van-Baycv-3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="../../assets/facility-image/Sunrise-Nha-Trang-Beach-Hotel-Spa-4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>

<div class="d-flex flex-row facility-row justify-content-center">
  <div class="card" style="width: 20rem">
    <img src="../../assets/facility-image/Sunrise-Nha-Trang-Beach-Hotel-Spacccc-5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="../../assets/facility-image/Mia-Resort-Nha-Trang-6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="../../assets/facility-image/Mia-Resort-Nha-Trangcc-7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <div class="card" style="width: 20rem">
    <img src="../../assets/facility-image/Mia-Resort-Nha-Trangcccc-8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">OCEAN SUITE</h5>
      <p class="card-text">Room size: 85,8 m</p>
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>

